.header__lang-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link:first-of-type {
  padding: 0 18px 0 0;
}
