.cover__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__link:before {
  content: "";
  display: block;
  background: #2a2c2f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__link:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
