.lead__title {
  padding: 0 0 0 16px;
  margin: 0;
  max-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}
