@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__link_active.css);

@import url(../blocks/lead/lead.css);

@import url(../blocks/intro/intro.css);

@import url(../blocks/photos/photos.css);

@import url(../blocks/link/link.css);
@import url(../blocks/places/places.css);

@import url(../blocks/cover/cover.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link-container/footer__link-container.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@media (min-width: 768px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
  .header__logo {
    width: 176px;
    height: 52px;
  }
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
  .footer {
    flex-direction: row;
    padding: 88px 24px 24px 24px;
  }
  .footer__links {
    flex-direction: row;
  }
  .footer__link-container {
    padding: 0 0 0 18px;
  }
  .footer__link-container:first-of-type {
    padding: 0;
  }
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
  .footer__copyright {
    padding: 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 92px 48px 24px 48px;
  }
  .header {
    padding: 28px 48px 48px 48px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 28px 48px 56px 48px;
  }
}
