@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/facts/facts.css);
@import url(../blocks/facts/__title/facts__title.css);
@import url(../blocks/facts/__text/facts__text.css);
@import url(../blocks/facts/__digits/facts__digits.css);
@import url(../blocks/facts/__digit/facts__digit.css);

@import url(../blocks/photo-gallery/photo-gallery.css);
@import url(../blocks/photo-gallery/__items/photo-gallery__items.css);
@import url(../blocks/photo-gallery/__item/photo-gallery__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__content/places__content.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__link/card__link.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__paragraph/card__paragraph.css);
@import url(../blocks/link/link.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link-container/footer__link-container.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@media (min-width: 768px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
  .header__logo {
    width: 176px;
    height: 52px;
  }
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }

  .lead__title {
    padding: 0 0 32px 0;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
  .lead__subtitle {
    padding: 0 0 56px 0;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
  }
  .lead__caption {
    padding: 8px 0 0 24px;
  }

  .intro {
    padding: 88px 24px 88px 24px;
  }
  .facts__title {
    font-size: 54px;
    line-height: 58px;
  }

  .photo-gallery {
    padding: 0 24px 0 24px;
  }
  .photo-gallery__items {
    gap: 16px;
  }

  .places {
    padding: 88px 0 90px 0;
  }
  .card {
    padding: 0 24px 73px 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
      "title link"
      "image description";
    gap: 48px 28px;
  }
  .card:last-of-type {
    padding: 0 24px 0 24px;
  }
  .card__title {
    font-size: 42px;
    line-height: 46px;
  }
  .card__link {
    padding: 0;
  }

  .cover {
    padding: 115px 0;
  }
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }

  .footer {
    flex-direction: row;
    padding: 88px 24px 24px 24px;
  }
  .footer__links {
    flex-direction: row;
  }
  .footer__link-container {
    padding: 0 0 0 18px;
  }
  .footer__link-container:first-of-type {
    padding: 0;
  }
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
  .footer__copyright {
    padding: 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 28px 48px 48px 48px;
  }

  .lead {
    padding: 0 48px 0 48px;
  }
  .lead__caption {
    padding: 8px 0 0 0;
  }

  .intro {
    padding: 82px 48px 92px 48px;
  }
  .facts {
    max-width: 690px;
  }

  .photo-gallery {
    padding: 0 48px 0 48px;
  }
  .photo-gallery__items {
    gap: 14px;
  }

  .places {
    padding: 92px 0 92px 0;
  }
  .card {
    padding: 0 48px 80px 48px;
  }
  .card:last-of-type {
    padding: 0 48px 0 48px;
  }
  .card__title {
    font-size: 72px;
    line-height: 76px;
  }
  .card__link::before {
    line-height: 20px;
  }
  .card__paragraph {
    font-size: 18px;
    line-height: 29px;
    padding: 0 0 27px 0;
  }
  .card__paragraph:last-of-type {
    padding: 0;
  }

  .cover {
    padding: 232px 0;
  }

  .footer {
    padding: 92px 48px 24px 48px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 28px 48px 56px 48px;
  }

  .lead__subtitle {
    padding: 0 0 64px 0;
  }

  .photo-gallery {
    padding: 0 48px 0 48px;
  }
  .photo-gallery__items {
    gap: 16px;
  }

  .cover {
    padding: 312px 0;
  }
}
