.card {
  max-width: 984px;
  padding: 0 16px 50px 16px;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    "title"
    "link"
    "image"
    "description";
    gap: 32px;
}

.card:last-of-type {
  padding: 0 16px 0 16px;
}